/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol,
li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo .logo-header {
    color: #2E2F42;
}

.menu-link {
    color: #2E2F42;
    font-weight: 500;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.active {
    position: relative;
    color: #404BBF;
}

.active::after {
    content: "";
    position: absolute;
    display: block;
    color: #404BBF;
    bottom: -1px;
    left: 0;
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.contact-data {
    font-style: normal;
}

.contact {
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}

.hero-section {
    background-color: #2E2F42;
    text-align: center;
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-motto {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-btn {
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFF;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
} 

.section-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-section {
    background-color: #F4F4FD;
}

.teammate-name,
.benefit-name,
.portfolio-item-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.page-footer {
    background: #2E2F42; 
    color: #FFF;
    padding: 100px 0;
}

.logo .logo-footer {
    color: #f4f4fd;
}

.text-footer {
    color: #F4F4FD;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.menu {
    display: flex;
    flex-grow: 1;
    gap: 40px;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefit-desc {
    max-width: 264px;
}

.benefit-name {
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.teammate-pos {
    font-size: 16px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    background: #FFF;
    width: calc((100% - 48px) / 3);;
    height: 420px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item img {
    object-fit: cover;
}

.text-footer {
    width: 264px;
    margin-top: 17.5px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.contact-menu {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.benefit-item {
    width: calc((100% - 72px) / 4);
}

.benefit-section-header {
    margin-bottom: 8px;
}

.team-section-header {
    margin-bottom: 72px;
}

.teammate-data {
    padding: 32px 0;
}

.teammate-name {
    text-align: center;
    margin-bottom: 8px;
}

.teammate-pos {
    text-align: center;
    margin-bottom: 8px;
}

.portfolio-section-header {
    margin-bottom: 72px;
}

.portfolio-item-name {
    margin-bottom: 8px
}

.portfolio-data {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.logo-footer-link {
    display: inline-block;
}

.benefit-icon,
.social-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.benefit-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    position: relative;
    margin-bottom: 8px;
}

.social-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    fill: #f4f4fd;
}

.social-icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    position: relative;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-container:hover {
    background-color: #404BBF;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    color: #F4F4FD;
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-flex-container {
    display: flex;
    align-items: baseline;
}

.footer-first-part {
    margin-right: 120px;
}

.footer-part-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.portfolio-img-container {
    position: relative;
    overflow: hidden;
}

.page-footer .social-icons {
    gap: 16px;
}

.page-footer .social-link:hover,
.page-footer .social-link:focus {
    background-color: #31d0aa;
}

.footer-second-part {
    margin-right: 80px;
}

.input-subscribe-email {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    color: #FFFFFF;
}

.input-subscribe-email::placeholder {
    color: #FFFFFF;
}

.button-subscribe {
    padding: 8px 24px;
    color: #FFF;
    text-align: center;
    background-color: #4D5AE5;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #404BBF;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.icon-send {
    fill: #FFFFFF;
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 24px;
    padding-top: 72px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: solid 1px rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:active {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-title {
    max-width: 360px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-textarea-wrapper {
    position: relative;
    margin-bottom: 16px;
}

.modal-input {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-form-field-wrapper {
    margin-bottom: 8px;
    position: relative;
}

.modal-textarea {
    resize: none;
    outline: 0px solid transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-form-icon {
    fill: #4D5AE5;
}

.modal-textarea {
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.modal-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox-label-privacy {
    color: #4D5AE5;
    text-decoration: underline;
}

.form-button {
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}

.modal-form-own-checkbox {
    fill: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    margin-right: 12px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .checkbox-label > .modal-form-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}